* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.header {
    background-color: rgb(142, 247, 142);
}

.header-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 40px;
    padding: 0;
}

.name {
    display: flex;
    flex-wrap: wrap;
    margin: 0 75px;
}

.name-img {
    margin: 0 100px 0 20px;
}

.name img {
    width: 120px;
    height: 120px;
    border-radius: 30px;
}

.name-data h1 {
    font-size: 200%;
}

.name-data p {
    font-size: 120%;
}

.main-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px;
}

.main-data section {
    border: 1px solid blue;
    width: 360px;
    height: 160px;
    margin: 20px;
    padding: 5px;
    justify-content: center;
}

section > * {
    margin: 0;
    padding: 0;
}

section h2 {
    margin-bottom: 10px;
}

.footer {
    background-color: rgb(142, 247, 142);
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50px;
}

.footer-author {
    display: flex;
    flex-wrap: wrap;
}

.footer-author > * {
    padding: 0 5px;
}

.footer-rs-school {
    height: 50px;
}

.footer-rs-school img {
    width: 5rem;
    padding-top: 10px;
}